/* h1, p{
    text-align: center;
}

.melhores-sites:hover, .motivos:hover{
    background-color: green;
}
li:active{
    font-family: sans-serif, helvetica;
    font-size: 20px;
}
li{
    list-style: none;
}
p {
    color: blue;
} */


h1, p{
    text-align: center;
}
.melhores-sites:hover, .motivos:hover{
    background-color: yellow;
}
.melhores-sites:active, .motivos:active{
    font-family: 'Courier New', Courier, monospace;
}
.melhores-sites, .motivos{
    list-style: none;
}
p{
    color:aqua;
}